body{
    font-family: "Montserrat";
    text-align: center;
    }
    #title
  {
    background-color: #CCF3EE;
    color: #4B5D67;
    text-align: left;
  }
  h3{
  
    font-size: 1.5rem;
  }
  h1{
    text-align: center;
    padding: 30px 0 30px 0;
    color: #202020;
  }
  
  p{
    color: #8f8f8f;
  }
  #testimonials{


    background-color:#CCF3EE ;
    color: #4B5D67;
  }
  .title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
    letter-spacing: 4px;
    color: #2e2e2e;

  }
  .testimonial-image{
    width: 20%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial-text{
    line-height: 1;
    font-size: 1.5rem;
    text-align: center;
  }
  .carousel-item{
    padding: 7% 14% 7% 14%;
  }
